nav.navbar {
  width: 100%;
  padding: 1.25rem 0;
  position: fixed;
  top: 0;
  z-index: 9999;
  transition: 0.3s ease-in;

  &.scrolled {
    padding: 0;
    background-color: rgba(18, 18, 18, 0.75);
  }

  .container {
    gap: 0.5rem;
  }

  a.navbar-brand {
    max-width: 9%;
  }

  .navbar-nav {
    a.nav-link.navbar-link {
      font-weight: 400;
      color: #fff;
      letter-spacing: 0.0625rem;
      padding: 0 1.5rem;
      font-size: 1.25rem;
      opacity: 0.75;
      transition: 0.3s ease-in-out;

      &.active {
        opacity: 1;
      }
      &:hover {
        opacity: 1;
      }
    }
  }

  .navbar-toggler:is(:active, :focus) {
    outline: none;
    box-shadow: none;
  }

  .navbar-toggler {
    .navbar-toggler-icon {
      width: 1.5rem;
      height: 1.25rem;
      position: relative;
      background-image: none;
      border-bottom: 0.125rem solid #fff;
      transition: 0.3s linear;
      top: -0.125rem;

      &::after,
      &::before {
        content: "";
        width: 1.5rem;
        height: 0.125rem;
        position: absolute;
        background: #fff;
        top: 0;
        left: 0;
        z-index: 2;
        transition: 0.3s linear;
      }

      &::after {
        top: 0.5625rem;
      }
    }

    &:not(.collapsed) {
      .navbar-toggler-icon {
        &::before {
          transform: translateY(.5rem) rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }

        border-color: transparent;
      }
    }
  }
}

span.navbar-text {
  display: flex;
  align-items: center;
  gap: 1.25rem;

  .social-icon {
    display: inline-flex;
    gap: 1rem;

    a {
      width: 2.5rem;
      height: 2.5rem;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: relative;
      background: rgba(217, 217, 217, 0.1);
      border-radius: 50%;
      border: .0625rem solid rgba(255, 255, 255, 0.5);

      &::before {
        content: "";
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        background-color: #fff;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
      }

      img {
        width: 40%;
        // z-index: 1;
        transition: 0.3s ease-in-out;
      }

      &:hover {
        &::before {
          transform: scale(1);
        }

        img {
          filter: brightness(0) saturate(100%) invert(0%) sepia(7%)
            saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
        }
      }
    }
  }

  button {
    padding: 1.25rem 2rem;
    position: relative;
    font-weight: 700;
    color: #fff;
    border: .0625rem solid #fff;
    background: transparent;
    transition: 0.3s ease-in-out;

    &::before {
      content: "";
      width: 0%;
      height: 100%;
      position: absolute;
      background-color: #fff;
      left: 0;
      top: 0;
      transition: 0.3s ease-in-out;
      z-index: -1;
    }

    &:hover {
      color: #121212;

      &::before {
        width: 100%;
      }
    }
  }
}
